<form [formGroup]="loginFormGroup" class="form-container">
  <!-- Email form -->
  <div>
    <label for="email">Email</label>
    <input formControlName="email" id="email" type="text" placeholder="user@gmail.com">
    <div>
      <!-- Email validation errors -->
      <mat-error *ngIf="loginFormGroup.get('email')?.hasError('required')">Email necessário</mat-error>
      <mat-error *ngIf="loginFormGroup.get('email')?.hasError('email')">Email válido</mat-error>
    </div>
  </div>

  <!-- Password form -->
  <div>
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password" placeholder="***">
    <div>
      <!-- Password validation errors -->
      <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">Senha necessária</mat-error>
    </div>
  </div>
</form>

<!-- Login button -->
<div class="login-holder">
  <button (click)="onClick()" class="login-button" [disabled]="loginFormGroup.invalid" [ngStyle]="{'opacity': (loginFormGroup.invalid === true) ? '0.5' : '1'}">
    Login
  </button>
</div>
